<!--<p-progressSpinner></p-progressSpinner>-->
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" style="background-color: #3f51b5" *ngIf="currentUser">
 <!-- <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>-->
</nav>

<!-- main app container -->
<div class="jumbotron" style="background-color: #3f51b5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-navigation *ngIf="currentUser" [currentUser]="currentUser"></app-navigation>
<!--<app-login *ngIf="!currentUser "></app-login>-->

