<h2>Novo Paciente</h2>

<form [formGroup]="newPatientForm" (ngSubmit)="savePatient()">

  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input type="text" matInput placeholder="Nome" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input type="text" matInput placeholder="Data de Nascimento" formControlName="birthday">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input type="text" matInput placeholder="CPF" formControlName="cpf">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Peso</mat-label>
      <input type="number" matInput placeholder="Peso" formControlName="weight">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Altura</mat-label>
      <input type="number" matInput placeholder="Altura" formControlName="height">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select type="text" placeholder="Select" formControlName="sex">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="feminino">Feminino</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div>
    <button type="submit" mat-raised-button color="accent">Salvar</button>
  </div>
</form>
