<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
       <h2 class= "texto-usuario">Olá, Usuario</h2>
       <span class="glyphicon glyphicon-question-sign" ></span>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
        <h4 class="texto-data"> Dia de hoje: 12/9</h4>
    </mat-toolbar-row>
    
</mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav mode="side" opened="true" >
     nome do usuario
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p>Events:</p>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  