
.mat-sidenav, .mat-sidenav-content {
  padding: 24px;
}

.header { 

  height: 150px;
}

.texto-usuario {
  font-size: 40px;
  padding-top: 30px;
  font-weight: 400;
  padding-right: 80%
}

.texto-data {
  font-weight: 100;
}

.glyphicon-question-sign {
  padding-top: 30px;
  font-size: 50px;
}